@using OA.Models
@model TableStructDto
@{
    if (Model.TStructID > 0) { ViewBag.Title = "编辑表结构"; }
    else { ViewBag.Title = "添加表结构"; }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerJS{
    <style>
        .graph-2.general {
            width: 50%;
        }

        .col-md-8 {
            width: 48%;
        }

        .col-sm-offset-2 {
            margin-left: 36%
        }

        .IsHide {
            display: none;
        }
    </style>
}

<div class="wrapper wrapper-content">
    <div class="set-3">
        <div class="graph-2 general">
            @if (Model.TStructID > 0)
            {<h3 class="inner-tittle two">编辑表结构</h3> }
            else
            { <h3 class="inner-tittle two">添加表结构</h3>}
            <div class="grid-1" id="tsAddControl">
                <div class="form-body">
                    <form class="form-horizontal" v-on:submit.prevent="onSubmit">

                        <div class="form-group" v-for="(item,index) in tableStructList">
                            <label class="col-md-2 control-label">{{item.FieldName}}</label>
                            <div class="col-md-8">
                                <div v-if="item.VueTemplate==='vadd-text'">
                                    <vadd-text :class="{IsHide:item.IsHide}" :txt_item="item" :txt_index="index"></vadd-text>
                                </div>
                                <div v-else-if="item.VueTemplate==='vadd-checkbox'">
                                    <vadd-checkbox :class="{IsHide:item.IsHide}" :ck_item="item" :ck_index="index"></vadd-checkbox>
                                </div>
                                <div v-else-if="item.VueTemplate==='vadd-textarea'">
                                    <vadd-textarea :class="{IsHide:item.IsHide}" :txtarea_item="item" :txtarea_index="index"></vadd-textarea>
                                </div>
                                <div v-else-if="item.VueTemplate==='vadd-select'">
                                    <vadd-select :class="{IsHide:item.IsHide}" :select_item="item" :select_index="index"></vadd-select>
                                </div>
                                @*<span>{{item.FieldValue}}</span>*@
                            </div>
                        </div>

                        <div class="col-sm-offset-2">
                            <button type="button" class="btn btn-default" v-on:click="Save()">保存</button>
                            <button type="button" class="btn btn-warning " v-on:click="Clear()">清空</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
   
    <script src="~/Content/Plugin/main.js"></script>
    @*<script>
        $(function () {
            import vaddtext from "~/Content/Plugin/vueTemplate";
            Vue.use(vaddtext);
            var vList = new Vue({
                el: "#tsAddControl",
                data: {
                    tableStructList: []
                },
                methods: {
                    Save: function () {
                        GetSave();
                    }
                }

            });
            var modelInfo = {};
            var vueTemplate = [];
            //获取值
            GetModelInfo(function () {
                GetVueTemplate(function () {
                    //获取结构
                    GetTableStruct();
                });
            });


            //获取界面结构
            function GetTableStruct() {
                $.post("/Base/GetAddTableStruct", { "TableID": 98 }, function (result) {
                    if (result) {
                        console.log(modelInfo);
                        for (var i = 0; i < result.length; i++) {
                            //赋初值
                            for (var key in modelInfo) {
                                if (result[i].Field == key) {
                                    result[i].FieldValue = modelInfo[key];
                                }
                            }
                            //select 选项操作
                            if (result[i].Field == "VueTemplate") {
                                var options = [];
                                for (var j = 0; j < vueTemplate.length; j++) {
                                    options.push({ text: vueTemplate[j].BaseName, value: vueTemplate[j].BaseValue });
                                }
                                result[i].FieldSelect = options;
                                console.log(result[i].FieldSelect);
                            }

                            if (result[i].Field == "IsQuery" ) {
                                var options = [];
                                for (var j = 0; j < RadioNum.length; j++) {
                                    options.push({ text: RadioNum[j].text, value: RadioNum[j].value });
                                }
                                result[i].FieldSelect = options;
                                console.log(result[i].FieldSelect);
                            }
                            if (result[i].Field == "IsDeleted") {
                                var options = [];
                                for (var j = 0; j < RadioIsDel.length; j++) {
                                    options.push({ text: RadioIsDel[j].text, value: RadioIsDel[j].value });
                                }
                                result[i].FieldSelect = options;
                                console.log(result[i].FieldSelect);
                            }
                            if (result[i].Field == "IsHide") {
                                var options = [];
                                for (var j = 0; j < RadioBool.length; j++) {
                                    options.push({ text: RadioBool[j].text, value: RadioBool[j].value });
                                }
                                result[i].FieldSelect = options;
                                console.log(result[i].FieldSelect);
                            }
                        }
                        console.log(result);
                        vList.tableStructList = result;
                    }
                }, 'Json');
            }

            //获取初始值
             function GetModelInfo(func) {
                 var ID =@Model.TStructID;

                $.post("/TableStruct/GetDetailInfo", { "id": ID }, function (result) {
                    if (result) {
                       // console.log(result);
                        modelInfo = result;
                    }
                    func();
                 }, 'Json');

            }

            //获取select选项 vueTemplate
            function GetVueTemplate(func) {
                $.post("/BaseInfo/GetClassInfo", {"baseClassID":1} , function (result) {
                    if (result) {
                        vueTemplate = result;
                    }
                    func();
                }, 'Json');
            }

            //提交
            function GetSave() {
                var data = {};
                for (var i = 0; i < vList.tableStructList.length; i++) {
                    console.log(vList.tableStructList[i].Field);
                    console.log(vList.tableStructList[i].FieldValue);
                    data[vList.tableStructList[i].Field] = vList.tableStructList[i].FieldValue;//$("#" + vList.menuStructList[i].Field + "").val();
                }
                data.TStructID=@Model.TStructID;
                console.log(data);
                $.post('/TableStruct/Save', data, function (result) {
                    if (result.flag) {
                        layer.msg(result.msg);
                        //window.location.href = "/TableS/Index";
                        if (@Model.TStructID== 0) {
                            var initField = ["Field", "FieldName", "VueTemplate"];

                            for (var i = 0; i < vList.tableStructList.length; i++) {
                                for (var j = 0; j < initField.length; j++) {
                                    if (vList.tableStructList[i].Field == initField[j])
                                        vList.tableStructList[i].FieldValue = "";
                                    if (vList.tableStructList[i].Field == "OrderID")
                                        vList.tableStructList[i].FieldValue = vList.tableStructList[i].FieldValue + 2;
                                }

                                //$("#" + vList.menuStructList[i].Field + "").val();
                                //console.log(vList.tableStructList[i].FieldValue);
                            }
                        } else {
                            window.location.href = "/TableStruct/Index";
                        }


                    } else {
                        layer.msg(result.msg);
                    }
                },'Json');
            }

        })
    </script>*@

}

